[global]
  security     = user
  map to guest = never

[misc]
  comment  = misc
  path     = /mnt/local/misc
  read only  = no
  guest ok   = no
  create mask    = 0777
  directory mask = 0777

[rec]
  comment  = rec
  path     = /mnt/local/rec
  read only  = no
  guest ok   = no
  create mask    = 0777
  directory mask = 0777

